@font-face {
  font-family: "iconfont"; /* Project id 2963715 */
  src: url("//at.alicdn.com/t/font_2963715_maakix9pg7n.woff2?t=1637935228395")
      format("woff2"),
    url("//at.alicdn.com/t/font_2963715_maakix9pg7n.woff?t=1637935228395")
      format("woff"),
    url("//at.alicdn.com/t/font_2963715_maakix9pg7n.ttf?t=1637935228395")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pifu:before {
  content: "\e647";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-arrow-double-left:before {
  content: "\e665";
}

.icon-arrow-double-right:before {
  content: "\e666";
}

.icon-guanbi:before {
  content: "\e633";
}

.icon-xinxi:before {
  content: "\e634";
}

.icon-cibiaoquanyi:before {
  content: "\e671";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-wangyiyunyinle:before {
  content: "\e600";
}

.icon-zuidahua:before {
  content: "\e66b";
}

.icon-zuixiaohua:before {
  content: "\e6ba";
}

.icon-shengyin:before {
  content: "\eae0";
}

.icon-xinxi1:before {
  content: "\e607";
}

.icon-weibiaoti--:before {
  content: "\e60c";
}

.icon-zuixiaohua1:before {
  content: "\e6fa";
}

.icon-xinxi2:before {
  content: "\e615";
}

.icon-shezhi:before {
  content: "\e61c";
}

.icon-sousuo:before {
  content: "\e601";
}
